<div class="register">
  <div class="register__form">
    <div class="register__form__header">
      Movie recommendation service
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" type="text">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" type="password">
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input class="form-control" id="confirmPassword" type="password">
    </div>

    <div class="register__form__submit">
      <button>Register</button>

      <div class="register__form__submit__redirect">
        <span>Already registered</span>
        <a routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</div>
