@import "variables";

.header-toolbar {
  background-color: $header-background;
  height: $header-toolbar-height;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    font-size: 18px;
    color: #fff;
    line-height: 21px;
    font-style: italic;
    text-shadow: $text-shadow;
    margin-right: 40px;

    &.active {
      text-decoration: underline;
      font-size: 20px;
    }
  }
}
