<div class="register">
  <form class="register__form" [formGroup]="form" (submit)="register()">
    <div class="register__form__header">
      Рекомендательный сервис
    </div>

    <div class="form-group">
      <label for="username">Имя</label>
      <input formControlName="username" class="form-control" id="username" type="text">
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input formControlName="password" class="form-control" id="password" type="password">
    </div>

    <div class="form-group">
      <label for="confirmPassword">Подтверждение пароля</label>
      <input formControlName="confirmPassword" class="form-control" id="confirmPassword" type="password">
    </div>

    <div class="register__form__submit">
      <button type="submit" [disabled]="form.invalid">Регистрация</button>

      <div class="register__form__submit__redirect">
        <span>Уже зарегестрированы</span>
        <a routerLink="/login">Войти</a>
      </div>
    </div>
  </form>
</div>
