<div class="login">
  <div class="login__form">
    <div class="login__form__header">
      Movie recommendation service
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" type="text">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" type="password">
    </div>

    <div class="login__form__submit">
      <button>Login</button>

      <div class="login__form__submit__redirect">
        <span>No account yet</span>
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div>
